
#page{
    position: absolute;
    width: 68px;
    height: 33px;
    left: 32px;
    top: -12px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    
    color: #1C1B1F;
}



#account{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 90px;
    top: 15px;
    
}
#logout{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 50px;
    top: 15px;
    
}

.subhead{
    margin-top: 15px;
    position: absolute;
    top: 54px;
    background: #E5E5E5;
}

#name{
    position: absolute;
    width: 348px;
    height: 44px;
    left: 32px;
    top: -33px;

/* Header 1 */

font-family: 'Noto Sans';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 44px;
/* identical to box height */

letter-spacing: -0.02em;

color: #1C1B1F;
}
#studgang{
    position: absolute;
    top:10px;
    left: 411px;

    padding: 0px 8px;
gap: 4px;
color: white ;
height: 24px;
background: #1C1B1F;
border-radius: 50px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: -0.02em;

}
#arrow{
    position: absolute;
    top : 0px;
}

#modulContainer{
    position:absolute;
    right:25%; 
    top:95px; 

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
}

#navModuls1,#navModuls2,#navModuls3,#navModuls4,#navModuls5,#navModuls6,#navModuls7,#navModuls8,#navModuls9{
    gap: 4px;
    color: #1C1B1F; 
    height: 24px;
   
}


