
:root{
    --pill-bg: black;
    --pill-txt: white;
}

body {
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 1vw;
    transition: ease-in-out .5s;
}

.container {
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    background: #e6e6e6;
    padding: 1em;
    
}

.semester {
    display: flex;
    flex-direction: column;

    gap: .5em;

    font-size: 1.5em;
    font-weight: bold;
    
}

.pill {

    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    height: 2.5em;
    padding-left: 1em;
    padding-right: 0.5em;
    gap: 0.5em;
    border-radius: 2em;

    font-size: 0.6em;
    font-weight: normal;
    color: var(--pill-txt);
    background: var(--pill-bg);
    
    
}

.test {

    display: flex;
    justify-content: center;
    align-items: center;

    //height: 2.2em;
    width: fit-content;
    padding: .2em .5em ;
    border-radius: 2em;

    color: var(--pill-bg);
    background: var(--pill-txt);
    font-weight: bold;

}